<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Make a new skill!</title>
</head>
<body>
	<form action="/skills" method="POST" autocomplete="off">
		<input type="text" name="skill">
		<button type="submit">Make a skill</button>
	</form>
</body>
</html>