<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skill Page</title>
  </head>
  <body>
    <h1>Skill Details</h1>
    <h3><%= skill.skill %></h3>
    <% if (skill.learned === false) { %>
    <h3>not learned</h3>
    <% } %> <% if (skill.learned === true) { %>
    <h3>learned</h3>
    <% } %>
    <form action="/skills/<%= pageId %>?_method=DELETE" method="POST" id="del">
      <a
        href="javascript:{}"
        onclick="document.getElementById('del').submit(); return false;"
        >Delete this item</a
      >
    </form>
  </body>
</html>
